extends ./layout/index

block contenido
    main.container.mt-5    
        .row    
            .col-md-5
                img(src="img/nosotros.jpg" alt="nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blackquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolodebitis fugit necessitatibus aperiam culpa architecto dicta suscipit distinctio illum molestiae facilis maiores tenetur provident qui nulla excepturi nihil!
                
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolores debitis fugit necessitatibus aperiam culpa architecto dicta suscipit distinctio illum molestiae facilis maiores tenetur provident qui nulla excepturi nihil!

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, doloresdebitis fugit necessitatibus aperiam culpa architecto dicta suscipit distinctio illum molestiae facilis maiores tenetur provident qui nulla excepturi nihil
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")   
                    h2 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ipsum neque non quis, deleniti quidem sequi dignissimos unde, perspiciatis ullam nihil, ipsam quia quod nisi adipisci. Reiciendis repudiandae voluptatum qui?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")   
                    h2 Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ipsum neque non quis, deleniti quidem sequi dignissimos unde, perspiciatis ullam nihil, ipsam quia quod nisi adipisci. Reiciendis repudiandae voluptatum qui? 

                .col-md-4
                    img(src="img/icono_disponibles.svg", alt="icono Disponibles", class="img-fluid mb-4")   
                    h2 Disponibles
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ipsum neque non quis, deleniti quidem sequi dignissimos unde, perspiciatis ullam nihil, ipsam quia quod nisi adipisci. Reiciendis repudiandae voluptatum qui?  